body {
    background: blue;
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    margin: 1rem 1rem;
}

.breakline {
    height: 5px;
    width: 100%;
    background: black;
}


